@model IList<IncreationsPMSDomain.Invoice>

<div class="table-responsive scroll3">
    <span class="filter"><img src="~/Content/images/icon/filter.png" /></span>
    <table class="table table-bordered" id="tab_logic">
        <thead>
            <tr class="grid_heading">
                <th width="2%">Invoice No</th>
                <th width="2%">Date</th>
                <th width="30%">Customer</th>
                <th width="40%">Project</th>
                <th width="7%" class="text-right">Amount</th>
                <th width="1%" class="text-center">Select</th>
           </tr>
        </thead>
        <tbody class="grid_row">
            @if (Model.Count > 0)
            {
            foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CustInvoiceRefNo</td>
                        <td>@item.CustInvoiceDate.ToString("dd/MMM/yyyy")</td>
                        <td>@item.ClientName</td>
                        <td>@item.ProjectEnquiry</td>
                        <td class="text-right">@item.InvoiceAmount</td>
                        <td>
                            <center><input type="button" class="form-button5" value="Select" title="Select to view details" onclick="Open(@item.CustInvoiceId)" /></center>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <center><em>No items found!</em></center>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    </div> 