@model IncreationsPMSDomain.Invoice 
@{string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(); }
@{
    ViewBag.Title = "Invoice";
}

<script>
    function Previous() {
        var url = '@Url.Action("PreviousInvoice", "Invoice")'
        window.location = url;
    }

    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
    }
    function Delete(id) {
        var url = '@Url.Action("DeleteInvoice")';
        url += "/" + id
        window.location = url;
    }
    function Print(id) {
        var url = '@Url.Action("InvoiceReport")';
        url += "/" + id
        window.location = url;
    }
</script>

<div class="container content-in">
    <div class="row">
        <h1>Customer Invoice</h1>
    </div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "Invoice" }))
{
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>Invoice No.</label>
                    @Html.HiddenFor(m => m.CustInvoiceId)
                    @Html.TextBoxFor(m => m.CustInvoiceRefNo, new { @class = "form_input" })
                </div>
                <div class="col-md-6">
                    <label>Date</label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        @Html.TextBoxFor(m => m.CustInvoiceDate, new { @class = "form_input", @Value = Model.CustInvoiceDate.ToString("dd-MMM-yyyy") })
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Customer</label>
                    @Html.HiddenFor(m => m.ClientId)
                    @Html.TextBoxFor(m => m.ClientName, new { @class = "form_input" })
                </div>

            </div>
        </div>

        <div class="col-md-3">

            <div class="row form-group">


                <div class="col-md-6">
                    <label> Customer Order Ref</label>
                   @Html.TextBoxFor(m => m.ProjectOrderRefNo, new { @class = "form_input" })
                </div>


            </div>

        </div>
        

    </div>




    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">



                <div class="col-md-12">
                    <label>Customer address 1</label>
                    @Html.TextBoxFor(m => m.Address1, new { @class = "form_input" })
                </div>



            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Customer address 2</label>
                    @Html.TextBoxFor(m => m.Address2, new { @class = "form_input" })
                </div>



            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Customer address 3</label>
                    @Html.TextBoxFor(m => m.Address3, new { @class = "form_input" })
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">



            </div>
        </div>




    </div>

    <hr />


    <div class="table-responsive scroll2">
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="7%">#</th>
                    <th width="8%">Date</th>
                    <th width="31%">Project</th>
                    <th width="20%">Description</th>
                    <th width="7%" class="text-right">Project Amount</th>
                    <th width="7%" class="text-right">Invoice Amount</th>
             </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.CustomerInvoiceItem.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m.CustomerInvoiceItem[i].ProjectId)
                            @Html.TextBoxFor(m => @Model.CustomerInvoiceItem[i].ProjectRefNo, new { @class = "form_input", @style = "text-align:left" })
                        </td>
                        <td>
                            <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                @Html.TextBoxFor(model => Model.CustomerInvoiceItem[i].ProjectDate, new { @class = "form_input", @Value = Model.CustomerInvoiceItem[i].ProjectDate.ToString("dd-MMM-yyyy") })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>

                        </td>
                        <td>
                            @Html.TextBoxFor(m => @Model.CustomerInvoiceItem[i].ProjectEnquiry, new { @class = "form_input", @style = "text-align:left" })
                        </td>
                        <td>
                            @Html.HiddenFor(m => @Model.CustomerInvoiceItem[i].Paymentid)
                            @Html.TextBoxFor(m => @Model.CustomerInvoiceItem[i].Description, new { @class = "form_input", @style = "text-align:left" })

                        </td>
                        <td>
                            @Html.TextBoxFor(m => @Model.CustomerInvoiceItem[i].Balance, new { @class = "form_input", @style = "text-align:right" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => @Model.CustomerInvoiceItem[i].InvoiceAmount, new { @class = "form_input", @style = "text-align:right" })
                        </td>

                    </tr>
                }

            </tbody>

        </table>

        @*<table class="table table-bordered" id="tab_logic">
            <tr class="grid_heading footer">
                <th width="65%">&nbsp;</th>
                <th width="35%">Total</th>
            </tr>
        </table>*@
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="row form-group">





                <div class="col-md-12">
                    <label>Special Remarks</label>
                    @Html.TextAreaFor(m => m.SpecialRemarks, new { @class = "form_input text-area" })
                </div>
                <div class="col-md-12">
                    <label>Payment Terms</label>
                    @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form_input" })
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row form-group">




                <div class="col-md-4">
                    <label>Additional Remarks</label>
                    @Html.TextBoxFor(m => m.AdditionalRemarks, new { @class = "form_input" })
                </div>
                <div class="col-md-2">
                    <label class="text-right">Add.Amount</label>
                    @Html.TextBoxFor(m => m.AddAmount, new { @class = "form_input", @style = "text-align:right" })
                </div>

                <div class="col-md-4">
                    <label>Deduction Remarks</label>
                    @Html.TextBoxFor(m => m.DeductionRemarks, new { @class = "form_input" })
                </div>
                <div class="col-md-2">
                    <label class="text-right">Ded.Amount</label>
                   @Html.TextBoxFor(m => m.DedAmount, new { @class = "form_input" , @style = "text-align:right" })
                </div>
                <div class="col-md-3">
                    <label>Bill Due Date</label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        @Html.TextBoxFor(m => m.BillDueDate, new { @class = "form_input", @Value = Model.BillDueDate.ToString("dd-MMM-yyyy") })
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>



            </div>
        </div>

    </div>

    <div class="row">
        <hr />
        <div class="col-md-12">
       @if (actionName == "Update")
       {
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            <button type="Submit" class="form-button right">Update</button>
            <button type="button" class="form-button left" onclick="Delete(@Model.CustInvoiceId)">Delete</button>
            <button type="button" class="form-button left" onclick="Print(@Model.CustInvoiceId)">Print</button>
       }
       else
       {
               <button type="button" class="form-button right" onclick="Exit()">Exit</button>
               <button type="submit" class="form-button right">Save</button>
           
       }
        </div>

    </div>
  }

</div>

