@model IList<IncreationsPMSDomain.Invoice>
@{
    ViewBag.Title = "PreviousInvoice";
}

<script>
    function Proceed() {
        var url = '@Url.Action("Invoice", "Invoice")'
        window.location = url;
    }

    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
    }

    function Filter() {
        $("#PreviousInvoice").addClass("fade");
        var FromDate = $("#txtFrom").val().trim();
        var ToDate = $("#txtTo").val().trim();
        var ClientName = $("#ClientName").val().trim();
        var url = '@Url.Action("PreviousInvoicePartial")';
        url += "?FromDate=" + FromDate + "&ToDate=" + ToDate + "&ClientName=" + encodeURIComponent(ClientName);
        $("#PreviousInvoice").load(url, function () {
        $("#PreviousInvoice").removeClass("fade");
        });
    }
    function Open(id) {
        var url = '@Url.Action("Update")';
        url += "?id=" + id;
        window.location = url;
    }
</script>


<div class="container content-in">
    <div class="row">
        <h1>Previous Invoice</h1>
    </div>

    <div class="row">


        <div class="col-md-3">
            <div class="row">

                <div class="col-md-6">
                    <label>From</label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input id="txtFrom" value="@ViewBag.Fromdate.ToString("dd-MMMM-yyyy")" class=" form_input" onchange="Filter()" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>To</label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input id="txtTo" value="@System.DateTime.Now.ToString("dd-MMMM-yyy")" class="form_input" onchange="Filter()" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="row">

                <div class="col-md-6">
                    <label>Customer</label>
                    <input id="ClientName" class="form_input" placeholder="Search for Customer" onkeyup="Filter()" />
                </div>

            </div>
        </div>




    </div>


    <br />

    <div id="PreviousInvoice">
        @Html.Action("PreviousInvoicePartial")
    </div>







    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


