@model List<IncreationsPMSDomain.PendingProjects>
@*@{
    ViewBag.Title = "PendingProjectS";
}*@



<div class="container content-in">
    <div class="row">
        <h1>Pending projects</h1>
    </div>

    <div class="row">

        <div class="col-md-2">
            <div class="row">

                <div class="col-md-6">
                    <label>From</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>To</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="row">

                <div class="col-md-6">
                    <label>Client</label>
                    <input type="text" class="form_input" />
                </div>


            </div>
        </div>




    </div>


    <hr />



    <div class="table-responsive scroll3">
        <span class="filter"><img src="~/Content/images/icon/filter.png" /></span>
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="2%">#</th>
                    <th width="7%">Date</th>
                    <th width="20%">Client</th>
                    <th width="50%">Description</th>
                    <th width="7%">Start</th>
                    <th width="7%">End</th>
                    <th width="7%" class="text-center">Select</th>

                </tr>
            </thead>
            <tbody>

                
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProjectRefNo</td>
                            <td>@item.ProjectDate</td>
                            <td>@item.ClientName</td>
                            <td>@item.Description</td>
                            <td>@item.StartDate</td>
                            <td>@item.EndDate</td>

                            <td><center>@Html.ActionLink("Select", "ProjectsDisplay", "EnquiryBooking", new { ProjectId = @item.ProjectId }, new { @class = "form-button5" })</center></td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <center><em>No items found!</em></center>
                        </td>
                    </tr>
                }


            </tbody>

        </table>

    </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            @*<button type="button" class="form-button right" onclick="Proceed()">Proceed</button>*@
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


<script>
    function Select() {
        var url = '@Url.Action("Projects", "EnquiryBooking")'
        window.location = url;
    }
    function Proceed() {
        var url = '@Url.Action("Projects", "EnquiryBooking")'
        window.location = url;
    }

    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
    }
</script>






