@model List<IncreationsPMSDomain.PendingEnquiryStatus>

@*@{
    ViewBag.Title = "PendingEnquiryStatus";
}*@


<div class="container content-in">
    <div class="row">
        <h1>Pending Enquiry Status</h1>
    </div>

    <div class="row">

        <div class="col-md-2">
            <div class="row">

                <div class="col-md-6">
                    <label>From</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>To</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="row">

                <div class="col-md-6">
                    <label>Client</label>
                    <input type="text" class="form_input" />
                </div>


            </div>
        </div>




    </div>


    <hr />



    <div class="table-responsive scroll3">
        <span class="filter"><img src="~/Content/images/icon/filter.png" /></span>
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="2%">En No</th>
                    <th width="7%">Date</th>
                    <th width="34%">Client</th>
                    <th width="25%">Contact Type</th>
                    <th width="25%">Project Type</th>
                    <th width="1%"><center><h1></h1></center></th>

                </tr>
            </thead>
            <tbody>

              
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.EnquiryRef</td>
                            <td>@item.EnquiryDate</td>
                            <td>@item.EnquiryClient</td>
                            <td>@item.ModeofContactName</td>
                            <td>@item.ProjectTypeName</td>
                           
                    <td><center>@Html.ActionLink("Select", "EnquiryStatus", "EnquiryBooking", new { EnquiryId = @item.EnquiryId }, new { @class = "form-button5" })</center></td>
                                              
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <center><em>No items found!</em></center>
                        </td>
                    </tr>
                }

            
            </tbody>

        </table>

    </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            @*<button type="button" class="form-button right" onclick="Proceed()">Proceed</button>*@
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


<script>
    function Select() {
        var url = '@Url.Action("EnquiryStatus", "EnquiryBooking")'
        window.location = url;
    }
    function Proceed() {
        var url = '@Url.Action("EnquiryStatus", "EnquiryBooking")'
        window.location = url;
    }
     
    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
        }
</script>