<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Increations ERP Application</title>
    <script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/toasterStyle")
    @Scripts.Render("~/bundles/toasterScript")
    @*<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>*@
    <link href="~/Content/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
  
  
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {


            $("input[type='text'], textarea").attr("maxlength", "500");
            $("input[type='text'], textarea").attr("autocomplete", "off");
            //binding keypress to inputs
            $(".numbers-only").keypress(function (e) {
                if (e.which == 8 || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { } else { return false; }
            });

            //---------------------toastr---------------------------//
            toastr.options = {
                "positionClass": "toast-bottom-full-width",
                "timeOut": "5000",
                "extendedTimeOut": "2000"
            }
            if ('@TempData["success"]' != '') {
                toastr.success('@TempData["success"]');
            }
            else if ('@TempData["error"]' != '') {
                toastr.error('@TempData["error"]'.split('|')[0]);
                console.log('@TempData["error"]'.split('|')[1]);
            }
            @{ TempData["success"] = TempData["error"] = ""; }
            //------------------------------------------------------//
        });

        function Logout() {
            var cfm = confirm("Are you sure to logout?");
            if (!cfm) {
                return false;
            }
            else {
                var url = '@Url.Action("LogOff", "Account")';
                location.href = url;
            }
        }
        function GoToHome() {
            var url = '@Url.Action("Index", "Home")';
            location.href = url;
        }
    </script>
</head>
<body>
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="nav nav-pills nav-stacked">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#first-level-1"><span><img src="~/Content/Images/icon/admin.png" /></span>Admin<span class="caret arrow"></span></a>
                    <div id="first-level-1" class="collapse">
                        <ul>
                            <li>
                                <a href="@Url.Action("Create","Customer")" data-toggle="collapse" data-target="#second-level-1"><span><img src="~/Content/Images/icon/customer.png" /></span>Client</a>
                                @*<a href="@Url.Action("SubContractor","admin")" data-toggle="collapse" data-target="#second-level-2"><span><img src="~/Content/Images/icon/subcontractor.png" /></span>Sub Contractor</a>*@
                                <a href="@Url.Action("Create","SubContractor")" data-toggle="collapse" data-target="#second-level-2"><span><img src="~/Content/Images/icon/subcontractor.png" /></span>Sub Contractor</a>
                                @*<a href="@Url.Action("Create","Size")" data-toggle="collapse" data-target="#second-level-2"><span><img src="~/Content/Images/icon/subcontractor.png" /></span>Size</a>*@
                             </li>
                        </ul>
                    </div>

                    <a href="#" data-toggle="collapse" data-target="#first-level-2"><span><img src="~/Content/Images/icon/enquiry.png" /></span>Enquiry Booking<span class="caret arrow"></span></a>
                    <div id="first-level-2" class="collapse">
                        <ul>
                            <li>
                                <a href="@Url.Action("EnquiryBooking", "EnquiryBooking")" data-toggle="collapse" data-target="#second-level-1"><span><img src="~/Content/Images/icon/enquiry.png" /></span>Enquiry Booking</a>
                                <a href="@Url.Action("PendingEnquiryStatus", "EnquiryBooking")" data-toggle="collapse" data-target="#second-level-2"><span><img src="~/Content/Images/icon/enquirystatus.png" /></span>Enquiry Status Update</a>
@*                                <a href="@Url.Action("Estimate", "Estimate")" data-toggle="collapse" data-target="#second-level-3"><span><img src="~/Content/Images/icon/estimate.png" /></span>Estimate</a>*@
                            </li>
                        </ul>
                    </div>
                    @*<a href="@Url.Action("PendingProjectStatus", "EnquiryBooking")" data-toggle="collapse" data-target="#first-level-3"><span><img src="~/Content/Images/icon/estimate.png" /></span>Project Status</a>*@
                    <a href="@Url.Action("PendingProjects", "EnquiryBooking")" data-toggle="collapse" data-target="#first-level-4"><span><img src="~/Content/Images/icon/projects.png" /></span>Projects</a>
                    <a href="@Url.Action("Index", "BOQ")" data-toggle="collapse" data-target="#first-level-4"><span><img src="~/Content/Images/icon/boq.png" /></span>BOQ Preparing</a>

                     <a href="@Url.Action("WorkStatus", "BOQ")" data-toggle="collapse" data-target="#first-level-4"><span><img src="~/Content/Images/icon/work-status.png" /></span>Work Status</a>
                    <a href="@Url.Action("Index", "Payment")" data-toggle="collapse" data-target="#first-level-4"><span><img src="~/Content/Images/icon/payment.png" /></span>Sub Contractor Payment</a>
                    <a href="@Url.Action("PaymentFollowup", "Payment")" data-toggle="collapse" data-target="#first-level-4"><span><img src="~/Content/Images/icon/followup.png" /></span>Customer Invoice</a>
                    <a href="@Url.Action("Index", "Receipt")" data-toggle="collapse" data-target="#first-level-4"><span><img src="~/Content/Images/icon/receipt.png" /></span>Receipt</a>
                    @*<a href="@Url.Action("TimeTrack", "TimeTrack")" data-toggle="collapse" data-target="#first-level-4"><span><img src="~/Content/Images/icon/timetrack.png" /></span>Time Track</a>
                    <a href="@Url.Action("LabourEntering", "EnquiryBooking")" data-toggle="collapse" data-target="#first-level-4"><span><img src="~/Content/Images/icon/entering.png" /></span>Labour Entering</a>
                    <a href="@Url.Action("MaterialEntering", "EnquiryBooking")" data-toggle="collapse" data-target="#first-level-4"><span><img src="~/Content/Images/icon/entering.png" /></span>Material Entering</a>*@
                    @*<a href="@Url.Action("Payment", "Payment")" data-toggle="collapse" data-target="#first-level-5"><span><img src="~/Content/Images/icon/payable.png" /></span>Payment</a>*@
                    @*<a href="@Url.Action("Purchaseindent", "Purchase")" data-toggle="collapse" data-target="#first-level-5"><span><img src="~/Content/Images/icon/purchaseindent.png" /></span>Purchase Indent</a>
                    <a href="@Url.Action("PendingPurchaseindent", "Purchase")" data-toggle="collapse" data-target="#first-level-6"><span><img src="~/Content/Images/icon/purchaseorder.png" /></span>Purchase Order</a>
                    <a href="@Url.Action("PendingPurchaseOrder", "Purchase")" data-toggle="collapse" data-target="#first-level-7"><span><img src="~/Content/Images/icon/grn.png" /></span>GRN</a>
                    <a href="@Url.Action("PendingProjects", "Invoice")" data-toggle="collapse" data-target="#first-level-8"><span><img src="~/Content/Images/icon/invoice.png" /></span>Invoice</a>
                    <a href="@Url.Action("Receipt", "Receipt")" data-toggle="collapse" data-target="#first-level-9"><span><img src="~/Content/Images/icon/receivable.png" /></span>Receipt</a>
                    <a href="@Url.Action("Payment", "Payment")" data-toggle="collapse" data-target="#first-level-10"><span><img src="~/Content/Images/icon/payable.png" /></span>Payment</a>*@


                    <a href="#" data-toggle="collapse" data-target="#first-level-11"><span><img src="~/Content/Images/icon/dailyactivityreport.png" /></span>Reports<span class="caret arrow"></span></a>
                    <div id="first-level-11" class="collapse">
                        <ul>
                            <li>
                                @*<a href="@Url.Action("DailyActivityreport", "Reports")" data-toggle="collapse" data-target="#first-level-1"><span><img src="~/Content/Images/icon/dailyactivityreport.png" /></span>Daily Activity Report</a>*@
                                <a href="@Url.Action("ReceivableReport", "Receipt")" data-toggle="collapse" data-target="#first-level-2"><span><img src="~/Content/Images/icon/receivable.png" /></span>Receivable Report</a>
                                <a href="@Url.Action("PayableReport", "Payment")" data-toggle="collapse" data-target="#first-level-3"><span><img src="~/Content/Images/icon/payable.png" /></span>Payable Report</a>
                                <a href="@Url.Action("Index", "AgeingSummaryReport")" data-toggle="collapse" data-target="#first-level-1"><span><img src="~/Content/Images/icon/dailyactivityreport.png" /></span>Ageing Summary Report</a>
                                @*<a href="@Url.Action("AgeingSummaryReport", "Reports")" data-toggle="collapse" data-target="#first-level-1"><span><img src="~/Content/Images/icon/dailyactivityreport.png" /></span>Ageing Summary Report</a>*@
                                @*<a href="@Url.Action("MonthlyCommitment", "Reports")" data-toggle="collapse" data-target="#first-level-1"><span><img src="~/Content/Images/icon/dailyactivityreport.png" /></span>Monthly Commitment</a>*@
                                <a href="@Url.Action("Index", "OverDueTaskReport")" data-toggle="collapse" data-target="#first-level-1"><span><img src="~/Content/Images/icon/dailyactivityreport.png" /></span>Over Due Task Report</a>
                                <a href="@Url.Action("Index", "PendingPaymentSchedule")" data-toggle="collapse" data-target="#first-level-1"><span><img src="~/Content/Images/icon/dailyactivityreport.png" /></span>Pending Payment Schedule Report</a>
                                @*<a href="@Url.Action("LabourEnteringReport", "EnquiryBooking")" data-toggle="collapse" data-target="#first-level-1"><span><img src="~/Content/Images/icon/dailyactivityreport.png" /></span>Labour Entering Report</a>
                                <a href="@Url.Action("MaterialEnteringReport", "EnquiryBooking")" data-toggle="collapse" data-target="#first-level-1"><span><img src="~/Content/Images/icon/dailyactivityreport.png" /></span>Material Entering Report</a>*@
                                @*<a href="@Url.Action("MaterialPlanningReport", "Reports")" data-toggle="collapse" data-target="#first-level-3"><span><img src="~/Content/Images/icon/dailyactivityreport.png" /></span>Material Planning Report</a>*@
                            </li>
                        </ul>
                    </div>
                    <a href="@Url.Action("SampleD", "Sample")" data-toggle="collapse" data-target="#first-level-12"><span><img src="~/Content/Images/icon/details.png" /></span>Work Details</a>



            </ul>
        </div>

    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a href="#menu-toggle" class="menu-icon" id="menu-toggle"></a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")"><img src="~/Content/images/logo.png" width="40" /></a></li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -  Increations Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>*@

    <script type="text/javascript" src="~/Scripts/datetimepicker/bootstrap.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/Scripts/datetimepicker/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/Scripts/datetimepicker/bootstrap-datetimepicker.es.js" charset="UTF-8"></script>
    <script>
        $('.form_date').datetimepicker({
            language: 'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: 'dd-M-yyyy',
        });
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
