
@{
    ViewBag.Title = "PayableReport";
}
<script>
   

    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
    }
    function Print() {
        var SubName = $("#cboSubContractor option:selected").text();
        var SubContractorId = $("#cboSubContractor").val();
        var url = '@Url.Action("Print")';
        url += "?SubName=" + (SubName == '' ? 0 : SubName) + "&SubContractorId=" + SubContractorId;
        window.location = url;
    }
    function Filter() {
        $("#PayableReport").addClass("fade");
        var SubContractorId = $("#cboSubContractor").val();
        var url = '@Url.Action("PayableReportPartial")';
        url += "?SubContractorId=" + SubContractorId;
        $("#PayableReport").load(url, function () {
            $("#PayableReport").removeClass("fade");
        });
    }
</script>

<div class="container content-in">
    <div class="row">
        <h1>Payable Report</h1>
    </div>

    <div class="row">



        <div class="col-md-3">
            <div class="row">

                <div class="col-md-12">
                    <label for="cboSubContractor">Sub Contractor</label>
                    @Html.DropDownList("cboSubContractor", (SelectList)ViewBag.SubContracorList, "Any", new { @class = "form_input", @onchange = "Filter()" })
                </div>


            </div>
        </div>




    </div>

    <br />
    <hr />

    <div class="table-responsive" id="PayableReport">
        @Html.Action("PayableReportPartial")

    </div>







    <div class="row">
        <hr />
        <div class="col-md-12 hrpart">
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            <input type="button" value="Print" onclick="Print()" class="form-button right" />
        </div>

    </div>




</div>


