@model List<IncreationsPMSDomain.PendingCustomerInvoice>
@{
    ViewBag.Title = "PaymentFollowup";
}

<script>
    function Previous() {
        var url = '@Url.Action("PreviousInvoice", "Invoice")'
        window.location = url;
    }
    function Payment() {
        var url = '@Url.Action("PreviousPayment", "Payment")'
        window.location = url;
    }
    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
    }
    function Filter() {
        $("#paymentFollowupPartial").addClass("fade");
        var ProjectEnquiry = $("#ProjectEnquiry").val().trim();
        var ClientName = $("#ClientName").val().trim();
        var url = '@Url.Action("paymentFollowupPartial")';
        url += "?ProjectEnquiry=" + encodeURIComponent(ProjectEnquiry) + "&ClientName=" + encodeURIComponent(ClientName);
        $("#paymentFollowupPartial").load(url, function () {
            $("#paymentFollowupPartial").removeClass("fade");
        });
    }
</script>

<div class="container content-in">
    <div class="row">
        <h1>INVOICE</h1>
    </div>


    <div class="row"> 


        <div class="col-md-4">
            <div class="row">

                <div class="col-md-6">
                    <label>Client</label>
                    <input id="ClientName" class="form_input" placeholder="Search for Client" onkeyup="Filter()" />
                </div>
                <div class="col-md-6">
                    <label>Project</label>
                    <input id="ProjectEnquiry" class="form_input" placeholder="Search for Project." onkeyup="Filter()" />
                </div>

            </div>
        </div>

            </div>


    <br />

    <div id="paymentFollowupPartial">
        @Html.Action("paymentFollowupPartial")
    </div>
        <div class="row">
        <hr />
        <div class="col-md-12">
            <button type="button" class="form-button" onclick="Previous()">Previous</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>
