
@{
    ViewBag.Title = "ReceivableReport";
}

<script>
       function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
       }

    function Print() {
        var ClientName = $("#cboCustomer option:selected").text();
        var ClientId = $("#cboCustomer").val();
         var url = '@Url.Action("Print")';
        url += "?ClientName=" + (ClientName == '' ? 0 : ClientName) + "&ClientId=" + ClientId;
        window.location = url;
    }
    function Filter() {
        $("#ReceivableReport").addClass("fade");
        var ClientId = $("#cboCustomer").val();
        var url = '@Url.Action("ReceivableReportPartial")';
        url += "?ClientId=" + ClientId;
        $("#ReceivableReport").load(url, function () {
            $("#ReceivableReport").removeClass("fade");
        });
    }

</script>

<div class="container content-in">
    <div class="row">
        <h1>Receivable Report</h1>
    </div>

    <div class="row">



        <div class="col-md-3">
            <div class="row">

                <div class="col-md-12">
                    <label for="cboCustomer">Customer</label>
                    @Html.DropDownList("cboCustomer", (SelectList)ViewBag.CustomerList, "Any", new { @class = "form_input", @onchange = "Filter()" })
                </div>
        </div>
        </div>

    </div>


    <br />


            <div class="table-responsive" id="ReceivableReport">
            @Html.Action("ReceivableReportPartial")
        </div>

 




    <div class="row">
        <hr />
        <div class="col-md-12 hrpart">
             <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            <input type="button" value="Print" onclick="Print()" class="form-button right" />
        </div>

    </div>




</div>






