@model List<IncreationsPMSDomain.BOQPreparing>

@*@using GridMvc.Html*@

@*<div class="table-responsive scroll3">
        @Html.Grid(Model).Columns(columns =>
   {
              columns.Add(m => m.projectWorkRefNo).Titled("Ref No.").SetWidth(12);
              columns.Add(m => m.projectWorkDate).Titled("BOQ Date").SetWidth(7);
              columns.Add(m => m.ClientName).Titled("Client").SetWidth(7);
              columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Css("cent text-center").RenderValueAs(m => @<a href="@Url.Action("Edit", new { Id = m.ProjectWorkId })">Edit</a>);
              columns.Add().Encoded(false).Sanitized(false).SetWidth(30).Css("cent text-center").RenderValueAs(m => @<a href="@Url.Action("Delete", new { Id = m.ProjectWorkId })">Delete</a>);

        }).WithPaging(15)
    </div>*@
<table class="table table-bordered table-hover">
    <thead>
        <tr class="grid_heading">
            <th width="14%">Ref No.</th>
            <th width="30%">BOQ Date</th>
            <th width="20%">Client</th>
            <th width="30%">Prepared By</th>
            <th width="1%" class="text-center">Select</th>
        </tr>
    </thead>

    <tbody class="grid_row">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.projectWorkRefNo</td>
                    <td>@item.projectWorkDate</td>
                    <td>@item.ClientName</td>
                    <td>@item.PreparedBy</td>
                    <td>
                        <center><input type="button" class="form-button5" value="Select" title="Select to view details" onclick="Open(@item.ProjectWorkId)" /></center>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <center><em>No items found!</em></center>
                </td>
            </tr>
        }
    </tbody>
</table>